<?php
return [
    'base' => [
        'database'           => [
            'adapter'        => 'mysql',
            'host'           => '{hostname}',
            'username'       => '{db username}',
            'password'       => '{db password}',
            'dbName'         => '{db name}',
            'schema'         => '{db schema}',
            'connectionName' => 'default',
            'dsn'            => 'mysql:host={hostname};dbname={db name}',
        ],
        'repository' => [
            'tableReference' => [
                ':task:' => '{task table}',
                ':lock:' => '{lock table}',
            ],
        ],
        'process' => [
            'maxRetryTimeBeforeContinue' => {No. of retry time before continue to the next instruction}
        ],
        'log' => [
            'channelName'      => 'Animator',
            'maxFilesRotation' => 10,
            'baseDirectory'    => realpath(__DIR__ . '/log') . DIRECTORY_SEPARATOR,
            'format'           => "[%datetime%] %channel%.%level_name%: %message%\n",
        ],
    ],
    'production:base' => [],
    'beta:base' => [],
];
