<?php
return [
    'base' => [
        'database'           => [
            'adapter'        => 'mysql',
            'host'           => '{hostname}',
            'username'       => '{db username}',
            'password'       => '{db password}',
            'dbName'         => '{db name}',
            'schema'         => '{db schema}',
            'connectionName' => 'default',
            'dsn'            => 'mysql:host={hostname};dbname={db name}',
        ],
        'process' => [
            'maxRetryTimeBeforeContinue' => 9
        ]
    ],
    'production:base' => [],
    'beta:base' => [],
];
